<div class="grid-container">
  <% @poems.each do |poem| %>
  <div class="grid-item">
    <img src="https://pay.google.com/about/static/images/social/knowledge_graph_logo.png">
    <h6>Name: <%= link_to poem.name,poem_path(poem) %></h6>
    <p>The poem: <%= poem.description %></p>
  </div>
<% end %>
</div>
