
<body id="ShowBody">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
<h1><%= @poem.name %></h1>
<p><%= @poem.description %> </p>
</div>
<div class="column">
</div>
</div>
</body>
