<body id="AboutMeBody">
  <div class="AboutMeContainer">
    <h1> About Ciarra Glass</h1>
    <span class="border"></span>
    <div class="column">
      <%= fa_icon "fas fa-user-md 5x", class:"fas fa-user-md" %>
    </div>
</div>
</body>
