// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #input_name  {
//   width:50%;
// }
// #input_email {
//   width: 50%
// }
// #input_text{
//   max-width: 50%;
//   min-width: 50%;
// }
// #form{
//   padding-top: 35px;
// }
// button{
//   min-width: 100%;
// }
#boba{
  padding-top: 10px;
}
#boba2 {
  width: 100%;
  color: black;
}
// form {
//   border: solid 1.5px rgb(50, 115, 220);
//   border-radius: 24px;
// }
