// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#SubmitContainer{
  padding-top: 10px;
  color: #cf4d41;
}
#input_text{
  background-color: transparent;
  border: 2.2px black solid;
  font-family: cursive;
}
#input_name{
  background-color: transparent;
  border: 2.2px black solid;
  font-family: cursive;
}
#input_email{
  background-color: transparent;
  border: 2.2px black solid;
  font-family: cursive;
}
#Contact_me_body{
  height:100%;
  background-repeat: no-repeat;
}
#navbar{
  // background-image: url('https://images.pexels.com/photos/355302/pexels-photo-355302.jpeg?cs=srgb&dl=autumn-autumn-colours-autumn-leaves-355302.jpg&fm=jpg');
  background-image: url('./Autumn.jpg');
}
#SubmitButton{
  color: white;
  background-image: url('./Autumn.jpg');
  font-family: cursive;
}
#firstColumn{
  padding-left: 35px;
}
$brown-button: brown;
