// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#AboutMeBody{

}
.AboutMeContainer{
  text-align:center;
  overflow: hidden;
  background-color: #34495e;
}
.AboutMeContainer h1{
    font-family: cursive;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.border {
  display:block;
  background: #3498db;
  width: 200px;
  height: 3px;
  margin-bottom: 40px;
  margin: auto;
}
